
body{
  margin: 0;
  padding: 0;
  background-color: #0f1014;
}

/* Navbar start here */
.DisneyLogo #logo{
  margin-top: 20px;
  width: 60px;
  margin-left: 15px;
  height: 45px;
}
.DisneyLogo .subscribe{
  padding: 5px;
  font-size: 13px;
  width: 90px;
  height: 27px;
  margin-left: 7px;
  margin-top: 3px;
  background-color: #4F4539;
  margin-right: 80rem;
  border-radius: 20px;
  color: #bd7100;
  position: sticky;
}
header{
  position: fixed;
  top: 0px;
  left: 0px;
  /* background: #ccc; */
  width: 7%;
  height: 100%;
  z-index: 1000;
  transition: all 0.2s ease-in-out;
  background-image: linear-gradient(to right, rgba(0,0,0,8),rgba(0,0,0,0));
}
.banner{
  width: 100%;
  height: auto;
  position: fixed;
  left: 0px;
  top: 0px;
}
.banner img{
  height: auto;
}
header .navbar{
  width: 100%;
  margin-top: 50px;
}
header .navbar ul li{
  list-style: none;
  margin-bottom: 27px;
}
header .navbar ul li a{
  color: white;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

header .navbar ul li #iconsn{
  display: flex;
  width: 40px;
}

header .navbar ul li a .title{
 position: relative;
 transition: all 0.2s ease-in-out;
 opacity: 0;
 visibility: hidden;
}

header:hover{
  width: 30%;
}
header:hover nav ul li .title{
  left: 0px;
  position: relative;
  opacity: 1;
  visibility: inherit;
}

/* Navbar End here */









/* topvideo-start here */
#body{
  position: static;
  margin-left: 0rem;
}
#body .topvideo{
    width: 100%;
}
#body .topvideo video{
    width: 100%;
    background-color: red;      /* Changes here Doo*/
    height: 100vh;
    background-image: url(./images/Sport.png);
}
.topvideo{
  background-color: blue;       /* Changes here Doo*/
}
video{
  background-color: #bd7100;                      /* Changes here Doo*/
}
.topvideo .containt{
  color: red;                         /* Changes here Doo*/
  top: 0;
  left: 0;
  position: absolute;
  margin-left: 9rem;
  margin-top: 25rem;
}
#wn{
  width: 16rem;
  height: 40px;
  font-weight: 900;
  font-size: 20px;
  color: rgb(22, 20, 20);
  background-color: white;
  border-radius: 8px;
  /* background: linear-gradient(rgba(255, 255, 255, 0.6),rgba(255, 255, 255)); */
  opacity: 0.4;
  cursor: pointer;
}
#whishlistposter{
  width: 40px;
  height: 40px;
  font-size: 20px;
  color: rgb(22, 20, 20);
  background-color: white;
  opacity: 0.4;
  border-radius: 8px;
  cursor: pointer;
}
#uprc{
  color: white;
  font-size: large;
}
pre{
  font-size: 15px;
  color: white;
}
#dram{
  color: white;
}
/* topvideo-end here*/





/* Popular Channels-start*/
.owl-carousel{  
    padding: 0px;
    height: 10rem;
    width: 92%;
    margin-left: 7rem;
    margin-bottom: 3rem;
}
.owl-carousel a{
    cursor: pointer;
    transition: 0.5s;
}
.owl-carousel a img:hover{
    transform: scale(1.1);
}

.headofcat{
    margin-top: 4rem;
    color: #e1e6f0;
    margin-left: 7rem;
}
.owl-carousel img{
  border-radius: 8px;
  height: 10rem;                                    /*height 9rem increase*/
  width: 2vh;                                             /*width not set*/
  /* transition: transform 0.3s ease-in-out; */
}
/* .owl-carousel a :hover{
  transform: scale(1.3);
} */
/* Popular Channel-End*/





/* Movies list start */
.title{
  color: #cbb6b6;
  opacity: 0.9;
  padding-left: 5%;
  font-size: 22px;
  font-weight: 500;
}
.Movieslist{
  width: 94%;
  height: 270px;
  position: relative;
  background-color: #0f1014;
  margin: 10px 0 20px;
  margin-left: 5rem;
}
.card-container{
  position: relative;
  width: 92%;
  margin-top: 2px;
  padding-left: 10px;
  height: 270px;
  display: flex;
  margin: 0 auto;
  background-color: #0f1014;
  align-items: center;
  overflow-x: auto;
  overflow-y: visible;
  scroll-behavior: smooth;
}
.card-container::-webkit-scrollbar{
  display: none;
}
.card{
  
  position: relative;
  min-width: 180px;
  width: 180px;
  height: 250px;
  border-radius: 5px;
  overflow: hidden;
  margin-right: 10px;
  transition: .5s;
  /*background: #000;
  height: 20rem;
  background-color: white;
  width: 15rem; */
}
.card-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.card:hover{
  transform: scale(1.1);                           /*Tranform here*/
}
.card:hover .card-body{
  opacity: 1;
}

.card-body{
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  color: white;
  top: 0;
  left: 0;
  z-index: 2;
  transition: 0.5;
  background-image: linear-gradient(to bottom, rgba(111, 246, 0, 0), rgba(0, 0, 0, 1)); 
}
#watchlist-btn{
  margin-top: 0%;
  width: 72%;                             /* space b/w card-body and btn*/
  height: 15%;
  font-weight: 500;
  font-size: 20px;
  color: rgb(22, 20, 20);
  background-color: white; 
  border-radius: 8px;
/* background: linear-gradient(rgba(255, 255, 255, 0.6),rgba(255, 255, 255)); */
  opacity: 0.5;
  cursor: pointer;
}
#whishlist{
  width: 20%;
  height: 15%;
  font-size: 20px;
  color: rgb(22, 20, 20);
  background-color: rgb(238, 233, 233,0.8);
  opacity: 0.5;
  margin-top: 7rem;
  border-radius: 8px;
  cursor: pointer;
}
#content{
  margin-left: 4px;
  font-size: 13px;
  color: white;
  margin-top: 5px;
}
.des{
  margin-top: 9px;  
  padding-bottom: 2px;                           /*space b/w time and content*/
  font-size: 13px;
  margin-left: 5px;
  color: rgb(210, 214, 218);
}
/* Movies list end */




/* Footer starts here */
.footer{
  background-color: #0f1014;
}
.foot-container{
  background-color: #0f1014;
  width: 90%;
  margin-left: 5%;
  bottom: 20%;
}
.row{
  background-color: #0f1014;
  display: flex;
  padding-left: 2%;
}
.footer-col{
  padding-left: 7%;
  width: 60%;
  color: white;
  background-color: #0f1014;                  /*rgb(40, 39, 38)*/
  justify-items: center;
  justify-content: space-between;
}

#aboutitem{
  font-size: 18px;
}
ul{
  font-size: 16px;
  line-height: 1.5;
}
ul li{
  color: #bcaaaa;
  list-style: none;
}
ul li a{
  text-decoration: none;
  color: #bcaaaa;
}
#rights{
  margin-left: -4%;
  margin-top: 20%;
  word-spacing: -5px;
  color: yellowgreen;
}
#policy a{
  word-spacing: -5px;
  color: white;
  margin-left: -15px;
  text-decoration: none;
}
.social-media img{
  height: 33px;
  margin-right: 100px;
  padding-top: 20px;
}
.social-media a i{
  font-size: 20px;
  margin-left: 15px;
  color: rgb(255, 255, 255);
}
/* Footer Ends here */
